.confirm_popup_content{
    width: var(--pop-form-width);
    background-color: white;
    border: 2px solid var(--theme-part-color);
    display: flex;
    flex-direction: column;
    padding: var(--element-gap);
    border-radius: var(--border-radius);
    box-sizing: border-box;
    transition: height 1s ease, width 1s ease;
}