:root{
    --login-panel-width: 500px; /*登录栏宽*/
    --login-item-width: 285px;  /*登录元素宽*/
    --login-item-height: 44px;  /*登录元素高*/
    --login-logo-height: 200px; /*Logo最小高*/
    --login-form-height: 380px; /*登录表单最小高*/
}

.login_body_container{
    /*登录页面容器*/
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr var(--login-panel-width);
}
.login_background_image{
    /*背景图片容器*/
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image 1s ease-in-out;
}
.login_panel{
    /*登录栏*/
    height: 100%;
    width: var(--login-panel-width);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    margin: auto;
}

.login_logo{
    /*logo容器*/
    margin-bottom: var(--element-gap);
    min-height: var(--login-logo-height);
    display: grid;
    align-items: end;
    justify-content: center;
}
.login_logo_img{
    /*logo图片*/
    width: 100%;
    max-width: var(--login-item-width);
}
.login_form{
    /*登录表单*/
    display: flex;
    width: 100%;
    flex-direction: column;
    min-height: var(--login-form-height);
    align-items:center;
}
.login_label{
    /*标签*/
    width: 100%;
    max-width: var(--login-item-width);
    min-height: var(--login-item-height);
    font-size: var(--main-text-size);
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-bottom: var(--element-margin);
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}
.login_field_input{
    /*输入框*/
    width: 100%;
    max-width: var(--login-item-width);
    height: var(--login-item-height);
    font-size: var(--main-text-size);
    margin-bottom: var(--element-gap);
    padding-left: var(--element-margin);
    padding-right: var(--element-margin);
    border-radius: var(--border-min-radius);
    border-color: var(--text-main-color);
    box-sizing: border-box;
    font-family: 'poppins';
}
.login_button_panel{
    /*登录按钮容器*/
    width: 100%;
    max-width: var(--login-item-width);
    margin-top: var(--element-gap);
    box-sizing: border-box;
}
.login_button{
    /*登录按钮*/
    width: 100%;
    min-height: var(--login-item-height);
    font-size: var(--main-text-size);
    box-sizing: border-box;
    border: var(--border-base-width) solid var(--theme-part-color);
    background-color: var(--theme-part-color);
    border-radius: var(--border-min-radius);
    color: var(--text-active-color);
    padding: var(--element-margin);
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: background-color 0.5s ease, color 0.5s ease;
}
.login_button:hover{
    border: var(--border-base-width) solid var(--theme-part-color);
    background-color: var(--theme-active-color);
    color: var(--text-main-color);
}

/*响应式*/
@media (max-width: 999px), (max-device-width: 999px){
    .login_body_container{
        grid-template-columns: 1fr;
    }
    .login_background_image{
        display: none;
    }
    .login_panel{
        width: 100%;
        padding-left: var(--element-gap);
        padding-right: var(--element-gap);
        box-sizing: border-box;
    }
}