/*字体注册*/
@font-face{
    font-family: 'poppins';
    src: url('/sources/fonts/poppins/Poppins-Regular.ttf') format('turetype'),
        url('/sources/fonts/poppins/Poppins-Bold.ttf') format('turetype');
    font-weight: normal;
    font-style: normal;
}

:root{
    /*颜色*/
    --theme-main-color: #C5EBE2; /*主题色*/
    --theme-part-color: #363B64;    /*次主题色*/
    --theme-background-color: white; /*主题背景色*/
    --theme-active-color: #F4F7F9;  /*主题激活色*/
    --error-background-color: #FCDCDD;  /*警告背景色*/
    --error-border-color: #FC9C9E;  /*警告边框色*/
    --error-text-color: #F2323F;    /*警告文本颜色*/
    --text-remark-color: #A098AE;   /*提示&备注文本色*/
    --text-main-color: #363B64;     /*文本主题色*/
    --text-active-color: white;     /*文本激活色*/
    --message-text-color: #3DBA4E;
    --message-background-color: #DCFAE0;

    /*间距*/
    --element-margin: 15px;  /*基础边缘，适用于小设备或间隔较小*/
    --element-gap: 29px;    /*基础间距，适用于大设备或间隔较大*/
    --element-list-gap: 3px;    /*列表间距*/

    /*圆角边距*/
    --border-icon-radius: 21px; /*适用于--header-icon-size*/
    --border-radius: 16px;
    --border-min-radius: 12px;
    --border-base-width: 2px;
    --border-popup-width: 4px;

    /*圆标大小*/
    --header-icon-size: 48px;
    --icon-base-size: 32px; /*基础图标大小*/
    --icon-min-size: 25px;  /*小形图标大小*/

    /*字体大小*/
    --main-text-size: 16px; /*正文*/
    --text-label-size: 15px; /*标签文本*/
    --text-header-size: 29px;   /*大标题*/
    --text-media-size: 24px;    /*次级标题*/
    --text-remark-size: 13px;

    /*元素宽高*/
    /*通用*/
    --header-height: 77px;  /*标题栏*/
    --pop-form-width: 640px;    /*表单类型弹窗宽*/
}

/*通用*/
.body_default{
    /*默认Body*/
    height: 100vh;
    width: 100vw;
    margin: 0px;
}
.body_theme{
    /*主题Body*/
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image 1s ease-in-out;
    margin: 0px;
    display: flex;
    font-family: 'poppins';
    background-color: var(--theme-main-color);
}

/*弹窗*/
.popup_container{
    height: 100%;
    width: 100%;
    max-height: 100%;
    overflow-y: auto;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 1;
}
.popup_fixed_container{
    height: 100%;
    width: 100%;
    max-height: 100%;
    overflow-y: auto;
    position: fixed;
    z-index: 1;
}

/*动画*/
@keyframes slide-down{
    from{
        opacity: 0,
        transform: translateY(-20px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fade-out{
    from{
        opacity: 1,
    }
    to{
        opacity: 0;
    }
}

/*用于动态控制*/
.hidden{
    /*隐藏元素*/
    display: none;
}
.clickable{
    cursor: pointer;  /*使鼠标手势变为可操作的手势*/
}
.padding_trans{
    /*边缘变换动画*/
    transition: padding 1s ease;
}
.click_throw{
    /*点击事件穿透该元素*/
    pointer-events: none;
}
.only999{
    /*只有低于999px宽度才显示*/
    display: none;
}

/*响应式*/
@media (max-width: 399px), (max-device-width: 399px){
}
@media (min-width: 400px) and (max-width: 767px), (min-device-width: 400px) and (max-device-width: 767px){
}
@media (min-width: 768px) and (max-width: 969px), ((min-device-width: 768px) and (max-device-width: 969px)){
}
@media (min-width: 970px) and (max-width: 1169px), ((min-device-width: 970px) and (max-device-width: 1169px)){
}
@media (min-width: 1170px), (min-device-width: 1170px){
}