@font-face{
    font-family: 'poppins';
    src: url('/sources/fonts/poppins/Poppins-Regular.ttf') format('turetype'),
        url('/sources/fonts/poppins/Poppins-Bold.ttf') format('turetype');
    font-weight: normal;
    font-style: normal;
}

/*--默认主题--*/
:root{
    --web-background-color: #C5EBE2;
    --element-gap: 29px;
    --element-margin: 15px;

    --border-radius: 16px;

    --header-height: 77px;
    --header-icon-size: 48px;

    --side-bar-width: 214px;
    --side-bar-item-width: 154px;
    --side-bar-row-height: 44px;
    --side-bar-item-gap: 3px;

    --icon-base-size: 32px;

    --file-enum-width: 245px;
    --file-enum-button-width: 204px;
    --file-enum-item-height: 48px;

    --file-search-height: 37px;

    --button-blue-color: #363B64;

    --text-gray-color: #A098AE;
    --text-black-color: #363B64;
    --text-white-color: white;
    --text-base-size: 15px;
    --text-header-size: 29px;

}

.background_body{
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image 1s ease-in-out;
    margin: 0px;
    display: flex;
    font-family: 'poppins';
    background-color: var(--web-background-color);
}

.side_bar_container{
    height: 100%;
    width: var(--side-bar-width);
    border-right: 2px solid black;
    padding-left: var(--element-gap);
    padding-right: var(--element-gap);
    padding-bottom: var(--element-margin);
    box-sizing: border-box;
    display: grid;
    grid-template-rows: var(--header-height) 1fr;
}
.side_bar_logo{
    min-width: var(--side-bar-item-width);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.side_bar_logo_img{
    width: 100%;
}
.side_bar_list{
    min-width: var(--side-bar-item-width);
    width: 100%;
    height: 100%;
    margin-inline-start: 0px;
    display: flex;
    flex-direction: column;
    padding-top: var(--element-margin);
    box-sizing: border-box;
}
.side_bar_row{
    height: var(--side-bar-row-height);
    width: 100%;
    margin-block-start: var(--side-bar-item-gap);
    margin-block-end: var(--side-bar-item-gap);
}
.side_bar_item{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.side_bar_icon{
    width: var(--icon-base-size);
    margin-left: var(--element-margin);
    margin-right: var(--element-margin);
}
.side_bar_icon>img{
    width: var(--icon-base-size);
    height: var(--icon-base-size);
}

.side_bar_text{
    flex-grow: 1;
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--text-gray-color);
    font-size: var(--text-base-size);
}

.file_sys_container{
    height: 100%;
    flex-grow: 1;
    display: grid;
    grid-template-rows: var(--header-height) 1fr;
}
.file_sys_header{
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: var(--element-margin);
}
.file_sys_header_title{
    flex-grow: 1;
    font-size: var(--text-header-size);
    font-weight: bold;
    color: var(--text-black-color);
    padding-left: var(--element-gap);
}
.file_sys_header_icon{
    height: var(--header-icon-size);
    width: var(--header-icon-size);
    margin-right: var(--element-margin);
}
.file_sys_header_icon>img{
    height: var(--header-icon-size);
    width: var(--header-icon-size);
}
.file_sys_body{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: var(--file-enum-width) 1fr;
    grid-column-gap: var(--element-gap);
    padding-left: var(--element-gap);
    padding-right: var(--element-gap);
    box-sizing: border-box;
    padding-top: var(--element-margin);
}
.file_sys_menu{
    width: 100%;
    background-color: white;
    border-radius: var(--border-radius);
    box-sizing: border-box;
    margin-bottom: var(--element-margin);
    display: flex;
    flex-direction: column;
    padding-top: var(--border-radius);
    align-items: center;
}
.file_sys_menu_button{
    width: var(--file-enum-button-width);
    height: var(--file-enum-item-height);
    background-color: var(--button-blue-color);
    border-radius: var(--border-radius);
    color: var(--text-white-color);
    font-size: var(--text-base-size);
}
.file_sys_menu_label{
    width: var(--file-enum-button-width);
    height: var(--file-enum-item-height);
    font-size: var(--text-base-size);
    color: var(--text-gray-color);
    display: flex;
    align-items: end;
    margin-left: var(--element-gap);
}
.file_sys_menu_item{
    width: var(--file-enum-button-width);
    height: var(--file-enum-item-height);
    display: flex;
    align-items: center;
}
.file_sys_menu_icon{
    width: var(--icon-base-size);
    height: var(--icon-base-size);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: var(--element-margin);
    margin-right: var(--element-margin);
}
.file_sys_menu_icon>img{
    width: var(--icon-base-size);
    height: var(--icon-base-size);
}
.file_sys_menu_text{
    font-size: var(--text-base-size);
    margin-right: var(--element-margin);
    color: var(--text-gray-color);
}

.file_sys_panel{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.file_sys_search_bar{
    height: var(--file-search-height);
    width: 100%;
    background-color: white;
    border-radius: var(--border-radius);
    margin-bottom: var(--element-gap);
}
.file_sys_list_body{
    width: 100%;
    flex-grow: 1;
    background-color: white;
    border-radius: var(--border-radius);
    margin-bottom: var(--element-margin);
    box-sizing: border-box;
}


@media (max-width: 767px){
}

@media (min-width: 768px) and (max-width: 969px){
}

@media (min-width: 970px) and (max-width: 1169px){
}

@media (min-width: 1170px){
}