@font-face{
    font-family: 'poppins';
    src: url('/sources/fonts/poppins/Poppins-Regular.ttf') format('turetype'),
        url('/sources/fonts/poppins/Poppins-Bold.ttf') format('turetype');
    font-weight: normal;
    font-style: normal;
}

/*--默认主题--*/
:root{

    /*颜色*/
    --theme-main-color: #C5EBE2; /*主题色*/
    --theme-part-color: #363B64;    /*次主题色*/
    --theme-background-color: white; /*主题背景色*/
    --theme-active-color: #F4F7F9;  /*主题激活色*/
    --error-background-color: #FCDCDD;  /*警告背景色*/
    --error-border-color: #FC9C9E;  /*警告边框色*/
    --error-text-color: #F2323F;    /*警告文本颜色*/
    --text-remark-color: #A098AE;   /*提示&备注文本色*/
    --text-main-color: #363B64;     /*文本主题色*/
    --text-active-color: white;     /*文本激活色*/
    --message-text-color: #3DBA4E;
    --message-background-color: #DCFAE0;

    /*间距*/
    --element-margin: 15px;  /*基础边缘，适用于小设备或间隔较小*/
    --element-gap: 29px;    /*基础间距，适用于大设备或间隔较大*/
    --element-list-gap: 3px;    /*列表间距*/

    /*圆角边距*/
    --border-icon-radius: 21px; /*适用于--header-icon-size*/
    --border-radius: 16px;
    --border-min-radius: 12px;
    --border-base-width: 2px;
    --border-popup-width: 4px;

    /*圆标大小*/
    --header-icon-size: 48px;
    --icon-base-size: 32px; /*基础图标大小*/
    --icon-min-size: 25px;  /*小形图标大小*/

    /*字体大小*/
    --main-text-size: 16px; /*正文*/
    --text-label-size: 15px; /*标签文本*/
    --text-header-size: 29px;   /*大标题*/
    --text-media-size: 24px;    /*次级标题*/

    /*元素宽高*/
    /*通用*/
    --header-height: 77px;  /*标题栏*/
    --pop-form-width: 640px;    /*表单类型弹窗宽*/
    --message-item-width: 285px;    /*消息类型弹窗宽*/
    --message-item-height: 48px;    /*消息类型弹窗高*/
    /*侧边栏*/
    --side-bar-width: 264px;    /*侧边栏*/
    --side-bar-item-width: 154px;   /*侧边栏元素宽*/
    --side-bar-row-height: 44px;    /*侧边栏行高*/
    /*文件系统*/
    --file-enum-width: 245px;   /*文件菜单栏*/
    --file-enum-button-width: 204px;    /*文件菜单栏按钮宽*/
    --file-enum-item-height: 48px;  /*文件菜单栏行高*/
    --file-search-height: 37px; /*搜索栏高*/
    --file-item-height: 56px;   /*文件行高*/
    --file-item-button-width: 204px; /*表单按钮*/
    /*登录页*/
    --login-panel-width: 800px; /*登录栏宽*/
    --login-item-width: 285px;  /*登录元素宽*/
    --login-item-height: 44px;  /*登录元素高*/
}

.default_body{
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image 1s ease-in-out;
    margin: 0px;
    display: flex;
    font-family: 'poppins';
    background-color: var(--theme-background-color);
}

.background_body{
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image 1s ease-in-out;
    margin: 0px;
    display: flex;
    font-family: 'poppins';
    background-color: var(--theme-main-color);
}

/*----侧边导航栏----*/
.side_bar_container{
    height: 100%;
    width: var(--side-bar-width);
    border-right: var(--border-base-width) solid black;
    padding-left: var(--element-gap);
    padding-right: var(--element-gap);
    padding-bottom: var(--element-margin);
    box-sizing: border-box;
    display: grid;
    grid-template-rows: var(--header-height) 1fr;
    transition: transform 1s ease;
    position: fixed;
}
.side_bar_logo{
    min-width: var(--side-bar-item-width);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.side_bar_logo_img{
    padding-top: var(--element-margin);
    width: 100%;
}
.side_bar_list{
    min-width: var(--side-bar-item-width);
    width: 100%;
    height: 100%;
    margin-inline-start: 0px;
    display: flex;
    flex-direction: column;
    padding-top: var(--element-margin);
    box-sizing: border-box;
}
.side_bar_row{
    height: var(--side-bar-row-height);
    width: 100%;
    margin-block-start: var(--element-list-gap);
    margin-block-end: var(--element-list-gap);
}
.side_bar_item:not(.active){
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-remark-color);
    border-radius: var(--border-radius);
    padding-right: var(--border-radius);
    transition: background-color 0.5s ease, color 0.5s ease;
}
.side_bar_item.active{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--theme-part-color);
    color: var(--text-active-color);
    border-radius: var(--border-radius);
    padding-right: var(--border-radius);
    transition: background-color 0.5s ease, color 0.5s ease;
}
.side_bar_item:hover {
    background-color: white;
    color: var(--text-main-color);
}
.side_bar_icon{
    width: var(--icon-base-size);
    margin-left: var(--element-margin);
    margin-right: var(--element-margin);
    display:flex;
    align-items: center;
}
.side_bar_icon>img{
    width: var(--icon-base-size);
    height: var(--icon-base-size);
}

.side_bar_text{
    width: 100%;
    flex-grow: 1;
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: var(--text-label-size);
}


/*----文件管理系统----*/
.file_sys_container{
    height: 100%;
    flex-grow: 1;
    display: grid;
    grid-template-rows: var(--header-height) 1fr;
    margin-left: var(--side-bar-width);
}
.file_sys_header{
    height: 100%;
    display: grid;
    align-items: center;
    margin-left: var(--element-gap);
    margin-right: var(--element-gap);
    grid-template-columns: var(--header-icon-size) 1fr var(--header-icon-size) var(--header-icon-size) var(--header-icon-size);
    grid-gap: var(--element-margin);
}
.file_sys_side_button{
    width: var(--header-icon-size);
    display: flex;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    background-color: var(--theme-background-color);
    border-radius: var(--border-radius);
    transition: background-color 0.5s ease;
}
.file_sys_side_button:hover{
    background-color: var(--theme-active-color);
}
.file_sys_side_icon{
    width: var(--header-icon-size);
}
.file_sys_side_icon:hover{
    mix-blend-mode: multiply;
}
.file_sys_header_title{
    width:100%;
    font-size: var(--text-header-size);
    font-weight: bold;
    color: var(--text-main-color);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.file_sys_header_icon{
    height: var(--header-icon-size);
    width: var(--header-icon-size);
    border-radius: var(--border-radius);
    transition: background-color 0.5s ease;
}
.file_sys_header_icon:hover{
    background-color: var(--theme-active-color);
}
.file_sys_header_icon>img{
    height: var(--header-icon-size);
    width: var(--header-icon-size);
}
.file_sys_header_icon>img:hover{
    mix-blend-mode: multiply;
}
.file_sys_body{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: var(--file-enum-width) 1fr;
    grid-column-gap: var(--element-gap);
    padding-left: var(--element-gap);
    padding-right: var(--element-gap);
    box-sizing: border-box;
    padding-top: var(--element-margin);
}
.file_sys_menu{
    width: 100%;
    background-color: var(--theme-background-color);
    border-radius: var(--border-radius);
    box-sizing: border-box;
    margin-bottom: var(--element-margin);
    display: flex;
    flex-direction: column;
    padding-top: var(--border-radius);
    align-items: center;
}
.file_sys_menu_button{
    width: var(--file-enum-button-width);
    height: var(--file-enum-item-height);
    background-color: var(--theme-part-color);
    border-radius: var(--border-radius);
    color: var(--text-active-color);
    font-size: var(--text-label-size);
    box-sizing: border-box;
    border: var(--border-base-width) solid var(--theme-part-color);
    transition: background-color 0.5s ease, color 0.5s ease;
}
.file_sys_menu_button:hover{
    background-color: var(--theme-background-color);
    color: var(--text-main-color);
}
.file_sys_menu_label{
    width: var(--file-enum-button-width);
    height: var(--file-enum-item-height);
    font-size: var(--text-label-size);
    color: var(--text-remark-color);
    display: flex;
    align-items: end;
    margin-left: var(--element-gap);
    margin-bottom: var(--element-list-gap);
}
.file_sys_menu_item{
    width: var(--file-enum-button-width);
    height: var(--file-enum-item-height);
    display: flex;
    align-items: center;
    background-color: var(--theme-background-color);
    color: var(--text-remark-color);
    border-radius: var(--border-radius);
    border: var(--border-base-width) solid var(--theme-background-color);
    transition: border-color 0.5s ease;
}
.file_sys_menu_item:hover{
    border-color: var(--theme-part-color);
}
.file_sys_menu_icon{
    width: var(--icon-base-size);
    height: var(--icon-base-size);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: var(--element-margin);
    margin-right: var(--element-margin);
}
.file_sys_menu_icon>img{
    width: var(--icon-base-size);
    height: var(--icon-base-size);
}
.file_sys_menu_text{
    font-size: var(--text-label-size);
    margin-right: var(--element-margin);
}

.file_sys_panel{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.file_sys_search_bar{
    height: var(--file-search-height);
    width: 100%;
    border-radius: var(--border-radius);
    margin-bottom: var(--element-gap);
    display: flex;
}
.file_path_bar{
    height: 100%;
    flex-grow: 1;
    background-color: var(--text-active-color);
    border-radius: var(--border-min-radius);
}
.file_search_bar{
    height: 100%;
    width: var(--file-enum-width);
    background-color: var(--text-active-color);
    margin-left: var(--element-gap);
    border-radius: var(--border-min-radius);
    padding-left: var(--border-min-radius);
    padding-right: var(--border-min-radius);
    box-sizing: border-box;
    display: flex;
    align-items: center;
}
.file_search_icon{
    height: var(--icon-min-size);
    width: var(--icon-min-size);
}
.file_search_input{
    height: 100%;
    flex-grow: 1;
    border-width: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: var(--text-label-size);
}
.file_search_input:focus-visible{
    outline: none;
}
.file_sys_list_body{
    width: 100%;
    flex-grow: 1;
    background-color: var(--theme-background-color);
    border-radius: var(--border-radius);
    margin-bottom: var(--element-margin);
    box-sizing: border-box;
    padding-top: var(--border-radius);
    padding-bottom: var(--border-radius);
    display: flex;
    flex-direction: column;
}
.file_list_title{
    width: 100%;
    height: var(--file-item-height);
    font-size: var(--text-media-size);
    color: var(--text-main-color);
    font-weight: bold;
    align-items: center;
    display:flex;
    padding-left: var(--element-gap);
    padding-right: var(--element-gap);
    box-sizing: border-box;
}
.file_table_header{
    width: 100%;
    height: var(--file-item-height);
    display: grid;
    grid-gap: var(--element-margin);
    align-items: center;
    border-bottom: var(--border-base-width) solid var(--text-remark-color);
    padding-left: var(--element-gap);
    padding-right: var(--element-gap);
    box-sizing: border-box;
    grid-template-columns: 1fr 180px 90px 90px 50px;
}
.file_table_header>*:nth-child(1){
    min-width: 180px;
}
.file_table_header>*:last-child{
    justify-content: center;
    display: flex;
}
.file_table_header_text{
    min-width: var(--icon-base-size);
    color: var(--text-main-color);
}
.file_table_body{
    width: 100%;
    flex-grow: 1;
    box-sizing: border-box;
}
.file_table_item{
    width: 100%;
    height: var(--file-item-height);
    border-bottom: 1px dotted var(--text-remark-color);
    display:grid;
    grid-template-columns: 1fr 180px 90px 90px 50px;
    grid-gap: var(--element-margin);
    padding-left: var(--element-gap);
    padding-right: var(--element-gap);
    box-sizing: border-box;
    align-items: center;
}
.file_table_item:hover{
    background-color: var(--theme-active-color);
}
.file_name_div{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: var(--icon-base-size) 1fr;
    grid-gap: var(--element-margin);
    align-items: center;
    min-width: 180px;
}
.file_name_icon{
    width: var(--icon-base-size);
    height: var(--icon-base-size);
}
.file_name_text{
    width: 100%;
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: var(--main-text-size);
    color: var(--text-main-color);
}
.file_text_div{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: var(--main-text-size);
    color: var(--text-main-color);
}
.file_control_div{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.file_control_img{
    width: var(--icon-min-size);
}
.file_page_bar{
    width: 100%;
    height: var(--file-item-height);
    box-sizing: border-box;
    padding-left: var(--element-gap);
    padding-right: var(--element-gap);
    border-top: var(--border-base-width) solid var(--text-remark-color);
}
.file_add_content{
    width: var(--pop-form-width);
    background-color: white;
    border: var(--border-popup-width) solid var(--text-main-color);
    display: flex;
    flex-direction: column;
    padding: var(--element-gap);
    border-radius: var(--border-radius);
    box-sizing: border-box;
    transition: height 1s ease, width 1s ease;
}
.file_add_header{
    width: 100%;
    height: var(--header-height);
    font-size: var(--text-media-size);
    font-weight: bold;
    color: var(--text-main-color);
    display: flex;
    align-items: center;
    margin-bottom: var(--element-gap);
}
.file_add_header_text{
    width: 100%;
    font-size: var(--text-header-size);
    font-weight: bold;
    color: var(--text-main-color);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.file_add_form{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.file_add_label{
    width: 100%;
    min-height: var(--login-item-height);
    font-size: var(--main-text-size);
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-bottom: var(--element-margin);
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}
.file_add_field{
    width: 100%;
    height: var(--login-item-height);
    font-size: var(--main-text-size);
    margin-bottom: var(--element-gap);
    padding-left: var(--element-margin);
    padding-right: var(--element-margin);
    border-radius: var(--border-min-radius);
    border-color: var(--text-main-color);
    border-width: var(--border-base-width);
    box-sizing: border-box;
    font-family: 'poppins';
}
.file_add_choose{
    width: 100%;
    height: var(--login-item-height);
    font-size: var(--main-text-size);
    margin-bottom: var(--element-gap);
    padding-left: var(--element-margin);
    padding-right: var(--element-margin);
    border-radius: var(--border-min-radius);
    border-color: var(--text-main-color);
    box-sizing: border-box;
    font-family: 'poppins';
    border-width: var(--border-base-width);
}
.file_add_select{
    width: 100%;
    height: var(--login-item-height);
    font-size: var(--main-text-size);
    margin-bottom: var(--element-gap);
    padding-left: var(--element-margin);
    padding-right: var(--element-margin);
    border-radius: var(--border-min-radius);
    border-color: var(--text-main-color);
    box-sizing: border-box;
    font-family: 'poppins';
}
.file_add_item_button{
    width: var(--file-item-button-width);
    height: var(--login-item-height);
    margin-bottom: var(--element-gap);
    font-size: var(--main-text-size);
    box-sizing: border-box;
    border: var(--border-base-width) solid var(--theme-part-color);
    background-color: var(--theme-part-color);
    border-radius: var(--border-min-radius);
    color: var(--text-active-color);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: background-color 0.5s ease, color 0.5s ease;
}
.file_add_item_button:hover{
    border: var(--border-base-width) solid var(--theme-part-color);
    background-color: var(--theme-background-color);
    color: var(--text-main-color);
}
.file_add_button{
    width: var(--file-item-button-width);
    height: var(--login-item-height);
    margin-top: var(--element-gap);
    margin-bottom: var(--element-gap);
    font-size: var(--main-text-size);
    box-sizing: border-box;
    border: var(--border-base-width) solid var(--theme-part-color);
    background-color: var(--theme-part-color);
    border-radius: var(--border-min-radius);
    color: var(--text-active-color);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: background-color 0.5s ease, color 0.5s ease;
}
.file_add_button:hover{
    border: var(--border-base-width) solid var(--theme-part-color);
    background-color: var(--theme-background-color);
    color: var(--text-main-color);
}
.file_add_item{
    display: flex;
    grid-template-columns: 1fr var(--file-item-button-width);
    grid-gap: var(--element-gap);
}
.file_button_row{
    display: flex;
}
.file_button_row>*:nth-child(1){
    margin-right: var(--element-gap);
}
.file_add_icon{
    width: var(--header-icon-size);
    height: var(--header-icon-size);
    margin-left: var(--element-margin);
    box-sizing: border-box;
    border: var(--border-base-width) solid var(--theme-part-color);
    border-radius: var(--border-icon-radius);
}

/*----登录页面----*/
.login_image{
    height: 100%;
    flex-grow: 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image 1s ease-in-out;
}
.login_panel{
    height: 100%;
    max-width: var(--login-panel-width);
    min-width: calc( var(--login-item-width) + var(--element-gap) * 2 );
    width: 40%;
    background-color: var(--theme-background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: auto;
}
.login_logo{
    max-width: var(--login-item-width);
    width: 100%;
    margin-bottom: var(--element-gap);
}
.login_logo_img{
    width: 100%;
}
.login_form{
    width: var(--login-item-width);
}
.login_label{
    min-height: var(--login-item-height);
    font-size: var(--main-text-size);
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-bottom: var(--element-margin);
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}
.login_field_input{
    width: 100%;
    height: var(--login-item-height);
    font-size: var(--main-text-size);
    margin-bottom: var(--element-gap);
    padding-left: var(--element-margin);
    padding-right: var(--element-margin);
    border-radius: var(--border-min-radius);
    border-color: var(--text-main-color);
    box-sizing: border-box;
    font-family: 'poppins';
}
.login_button_panel{
    width: 100%;
    margin-top: var(--element-gap);
    box-sizing: border-box;
}
.login_button{
    width: 100%;
    min-height: var(--login-item-height);
    font-size: var(--main-text-size);
    box-sizing: border-box;
    border: var(--border-base-width) solid var(--theme-part-color);
    background-color: var(--theme-part-color);
    border-radius: var(--border-min-radius);
    color: var(--text-active-color);
    padding: var(--element-margin);
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: background-color 0.5s ease, color 0.5s ease;
}
.login_button:hover{
    border: var(--border-base-width) solid var(--theme-part-color);
    background-color: var(--theme-background-color--theme-background-color);
    color: var(--text-main-color);
}

/*----消息弹窗----*/
.message_container{
    min-width: calc(var(--message-item-width) + var(--element-gap) * 3 + var(--icon-base-size));
    max-width: calc(100% - var(--element-gap)* 2);

    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 1;
    left:50%;
    transform: translateX(-50%);
}
.message_item{
    width: 100%;
    min-width: calc(var(--message-item-width) + var(--element-gap) * 3 + var(--icon-base-size));
    max-width: calc(100% - var(--element-gap)* 2);
    min-height: var(--message-item-height);
    background-color: var(--message-background-color);
    display: flex;
    align-items: start;
    margin-top: var(--element-margin);
    animation: slide-down 0.5s ease-out forwards, fade-out 5s ease-in-out forwards;
    border-radius: var(--border-min-radius);
    border: var(--border-base-width) solid var(--message-text-color);
    box-sizing: border-box;
    padding-left: var(--element-margin);
    padding-right: var(--element-margin);
}
.error_message_item{
    width: 100%;
    min-width: calc(var(--message-item-width) + var(--element-gap) * 3 + var(--icon-base-size));
    max-width: calc(100% - var(--element-gap)* 2);
    min-height: var(--message-item-height);
    background-color: var(--error-background-color);
    display: flex;
    align-items: start;
    margin-top: var(--element-margin);
    animation: slide-down 0.5s ease-out forwards, fade-out 5s ease-in-out forwards;
    border-radius: var(--border-min-radius);
    border: var(--border-base-width) solid var(--error-border-color);
    box-sizing: border-box;
    padding-left: var(--element-margin);
    padding-right: var(--element-margin);
}
@keyframes slide-down{
    from{
        opacity: 0,
        transform: translateY(-20px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fade-out{
    from{
        opacity: 1,
    }
    to{
        opacity: 0;
    }
}
.message_icon{
    width: var(--icon-base-size);
    padding-top: 8px;
    margin-right: var(--element-margin);
}
.error_message_icon{
    width: var(--icon-base-size);
    padding-top: 8px;
    margin-right: var(--element-margin);
}
.message_text{
    width: 100%;
    flex-grow: 1;
    font-size: var(--text-label-size);
    color: var(--message-text-color);
    white-space: normal;
    padding-top: var(--element-margin);
    padding-bottom: var(--element-margin);
}
.error_message_text{
    width: 100%;
    flex-grow: 1;
    font-size: var(--text-label-size);
    color: var(--error-text-color);
    white-space: normal;
    padding-top: var(--element-margin);
    padding-bottom: var(--element-margin);
}

/*弹窗*/
.popup_container{
    width: 100%;
    max-height: 100%;
    overflow-y: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 1;
    left:50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/*用于动态控制*/
.hidden{
    display: none;  /*隐藏元素*/
}
.clickable{
    cursor: pointer;  /*使鼠标手势变为可操作的手势*/
}
.sidebar_hide{
    transform: translateX(-100%);  /*将侧边栏移出*/
}
.hide_with_sidebar{
    margin-left: 0; /*将页面主内容移回*/
}
.left_trans{
    transition: margin-left 1s ease;  /*左移动画效果，用于js中，在初始完成后再手动添加*/
}

/*用于响应式*/
@media (max-width: 399px), (max-device-width: 399px){
    /*登录相关*/
    .login_image{
        display: none;
    }
    .login_panel{
        width: 100%;
        max-width: 100%;
    }
    /*侧边栏*/
    .side_bar_container{
        transform: translateX(-100%);
        display: hidden;
    }
    /*文件管理器*/
    .file_sys_container{
        margin-left: 0;
    }
    .file_sys_menu{
        display: none;
    }
    .file_sys_body{
        display: grid;
        grid-template-columns: 1fr;
    }
    .file_sys_search_bar{
        height: calc(2* var(--file-search-height) + var(--element-margin));
        width: 100%;
        border-radius: var(--border-radius);
        margin-bottom: var(--element-gap);
        display: flex;
        flex-direction: column;
    }
    .file_path_bar{
        margin-bottom: var(--element-margin);
    }
    .file_search_bar{
        margin-left: 0px;
        width: 100%;
    }
    .file_search_input{
        width: 100%;
    }
    .file_table_header{
        grid-template-columns: 5fr 2fr;
    }
    .file_table_header>*:nth-child(2),.file_table_header>*:nth-child(3),.file_table_header>*:nth-child(4){
        display: none;
    }
    .file_table_item{
        grid-template-columns: 5fr 2fr;
    }
    .file_table_item>*:nth-child(2),.file_table_item>*:nth-child(3),.file_table_item>*:nth-child(4){
        display: none;
    }
    .file_sys_header{
        margin-left: var(--element-margin);
        margin-right: var(--element-margin);
    }
    .file_sys_body{
        padding-left: var(--element-margin);
        padding-right: var(--element-margin);
    }
    .file_sys_header>*:nth-child(3),.file_sys_header>*:nth-child(4),.file_sys_header>*:nth-child(5){
        display: none;
    }
    .file_sys_header{
        grid-template-columns: var(--header-icon-size) 1fr;
    }
    .file_add_content{
        width: 100%;
        max-width: calc( 100% - 2 * var(--element-margin) );
    }
    /*错误消息*/
    .message_container{
        min-width: calc(100% - var(--element-margin)* 3 - var(--icon-base-size));
        max-width: calc(100% - var(--element-margin)* 3 - var(--icon-base-size));
    }
    .message_item{
        min-width: 100%;
        max-width: 100%;
        width: 100%;
    }
    .error_message_item{
        min-width: 100%;
        max-width: 100%;
        width: 100%;
    }
}

@media (min-width: 400px) and (max-width: 767px), (min-device-width: 400px) and (max-device-width: 767px){
    /*登录相关*/
    .login_image{
        display: none;
    }
    .login_panel{
        width: 100%;
        max-width: 100%;
    }
    /*侧边栏*/
    .side_bar_container{
        transform: translateX(-100%);
        display: hidden;
    }
    /*文件管理器*/
    .file_sys_container{
        margin-left: 0;
    }
    .file_sys_menu{
        display: none;
    }
    .file_sys_body{
        display: grid;
        grid-template-columns: 1fr;
    }
    .file_sys_search_bar{
        height: calc(2* var(--file-search-height) + var(--element-margin));
        width: 100%;
        border-radius: var(--border-radius);
        margin-bottom: var(--element-gap);
        display: flex;
        flex-direction: column;
    }
    .file_path_bar{
        margin-bottom: var(--element-margin);
    }
    .file_search_bar{
        margin-left: 0px;
        width: 100%;
    }
    .file_search_input{
        width: 100%;
    }
    .file_table_header{
        grid-template-columns: 5fr 5fr 2fr;
    }
    .file_table_header>*:nth-child(3), .file_table_header>*:nth-child(4){
        display: none;
    }
    .file_table_item{
        grid-template-columns: 5fr 5fr 2fr;
    }
    .file_table_item>*:nth-child(3), .file_table_item>*:nth-child(4) {
        display: none;
    }
    .file_add_content{
        width: 100%;
        max-width: calc( 100% - 2 * var(--element-gap) );
    }
}

@media (min-width: 768px) and (max-width: 969px), ((min-device-width: 768px) and (max-device-width: 969px)){
    /*侧边栏*/
    .side_bar_container{
        transform: translateX(-100%);
        display: hidden;
    }
    /*文件管理器*/
    .file_sys_container{
        margin-left: 0;
    }
    .file_sys_body{
        grid-template-columns: 1fr;
    }
    .file_sys_menu{
        display: none;
    }
}

@media (min-width: 970px) and (max-width: 1169px), ((min-device-width: 970px) and (max-device-width: 1169px)){
    /*侧边栏*/
    .side_bar_container{
        transform: translateX(-100%);
        display: hidden;
    }
    /*文件管理器*/
    .file_sys_container{
        margin-left: 0;
    }
    .file_sys_body{
        grid-template-columns: 1fr;
    }
    .file_sys_menu{
        display: none;
    }
}

@media (min-width: 1170px), (min-device-width: 1170px){
}