# 运行环境文件
.idea
.venv

# 保留icons
!/data
/data/*
!/data/static
/data/static/*
!/data/static/icons

# 运行生成文件
__pycache__/
/sources/static/.webassets-cache
/sources/static/css/generate
/sources/static/js/generate

# 打包生成文件
/build
/dist
