<div class="navigation_header">
    <div class="navigation_icon clickable" id="main_side_bar_button">
        <img src="{{ url_for('static', filename='icons/sidebar.png') }}">
    </div>
    <div class="navigation_header_title" id="navigation_header_title"></div>
    <div class="navigation_icon clickable">
        <img src="{{ url_for('static', filename='icons/notification.png') }}">
    </div>
    <div class="navigation_icon clickable">
        <img src="{{ url_for('static', filename='icons/setting.png') }}">
    </div>
    <div class="navigation_icon clickable" id="navigate_user_button">
        <img src="{{ url_for('static', filename='icons/user.png') }}">
    </div>
</div>