<div class="popup_container_gray hidden" id="image_display_overlay">
    <div class="image_display_content" id="image_display_content">
        <div class="image_display_panel">
            <img class="display_image" id="now_display_image" src="">
        </div>
        <div class="image_display_bar" id="image_display_bar">
            <div class="image_display_icon_div" id="image_close_button">
                <img class="image_display_icon" src="{{ url_for('static', filename='icons/close.png') }}">
            </div>
            <div class="image_display_icon_div" id="image_set_button">
                <img class="image_display_icon" src="{{ url_for('static', filename='icons/image.png') }}">
            </div>
            <div class="image_display_icon_div" id="image_edit_button">
                <img class="image_display_icon" src="{{ url_for('static', filename='icons/edit.png') }}">
            </div>
            <div class="image_display_icon_div" id="image_download_button">
                <img class="image_display_icon" src="{{ url_for('static', filename='icons/download.png') }}">
            </div>
            <div class="image_display_icon_div" id="image_last_button">
                <img class="image_display_icon" src="{{ url_for('static', filename='icons/last_page_trans.png') }}">
            </div>
            <div class="image_display_icon_div" id="image_next_button">
                <img class="image_display_icon" src="{{ url_for('static', filename='icons/next_page_trans.png') }}">
            </div>
        </div>
    </div>
</div>