<div class="page_select_container" id="{% block page_container_id %}page_select_container{% endblock %}">
    <div class="page_select_icon" id="{% block last_page_id %}last_page_button{% endblock %}">
        <img class="page_select_img" src="{{ url_for('static', filename='icons/last_page.png') }}">
    </div>
    <form class="page_select_info">
        <a class="page_select_text">第</a>
        <input class="page_select_input" type="text" value="1" id="{% block page_input_id %}page_input_id{% endblock %}">
        <a class="page_select_text" id="{% block page_text_id %}page_text_id{% endblock %}">页/共1页</a>
    </form>
    <div class="page_select_icon" id="{% block next_page_id %}next_page_button{% endblock %}">
        <img class="page_select_img" src="{{ url_for('static', filename='icons/next_page.png') }}">
    </div>
    <div class="page_select_limit">
        <select class="page_select_limit_list" id="{% block page_select_limit %}page_select_limit{% endblock %}">
            <option value="10">10</option>
            <option value="20" selected>20</option>
            <option value="50">50</option>
            <option value="100">100</option>
        </select>
        <a class="page_select_text">项/每页</a>
    </div>
</div>