<div class="popup_container_gray hidden" id="msc_add_set_overlay">
    <div class="form_popup_content" id="msc_add_set_content">
        <div class="form_popup_header">
            <a class="form_popup_header_text">添加到合集</a>
        </div>
        <form class="form_popup_main" id="msc_add_set_form">
            <label for="msc_add_set_name" class="form_field_label">选择合集</label>
            <select id="msc_add_set_name" class="form_choose_field" required></select>
            <div class="form_button_row">
                <div class="form_button_spinner spin_holder" id="msc_add_set_button_panel">
                    <input id="msc_add_set_confirm" type="submit" value="确认" class="form_button">
                </div>
                <input id="msc_add_set_cancel" type="button" value="取消" class="form_button">
            </div>
        </form>
    </div>
</div>