<div class="popup_container_gray hidden" id="music_edit_overlay">
    <div class="form_popup_content" id="music_edit_content">
        <div class="form_popup_header">
            <a class="form_popup_header_text">编辑歌曲</a>
        </div>
        <form class="form_popup_main" id="music_edit_form">
            <label for="music_edit_name" class="form_field_label">歌曲</label>
            <input id="music_edit_name" type="text" required placeholder="请输入歌曲" class="form_input_field">
            <label for="music_edit_singer" class="form_field_label">歌手</label>
            <input id="music_edit_singer" type="text" required placeholder="请输入歌手" class="form_input_field">
            <label for="music_edit_album" class="form_field_label">专辑</label>
            <input id="music_edit_album" type="text" placeholder="请输入专辑" class="form_input_field">
            <label for="music_edit_tags" class="form_field_label">标签</label>
            <input id="music_edit_tags" type="text" placeholder="请输入标签" class="form_input_field">
            <div class="form_button_row">
                <div class="form_button_spinner spin_holder" id="music_edit_button_panel">
                    <input id="music_edit_confirm" type="submit" value="确认" class="form_button">
                </div>
                <input id="music_edit_cancel" type="button" value="取消" class="form_button">
            </div>
        </form>
    </div>
</div>