<div class="popup_container_gray hidden" id="msc_collect_add_overlay">
    <div class="form_popup_content" id="msc_collect_add_content">
        <div class="form_popup_header">
            <a class="form_popup_header_text">新增合集</a>
        </div>
        <form class="form_popup_main" id="msc_collect_add_form">
            <label for="msc_collect_add_name" class="form_field_label">合集名</label>
            <input id="msc_collect_add_name" type="text" required placeholder="请输入合集名" class="form_input_field">
            <div class="form_button_row">
                <div class="form_button_spinner spin_holder" id="msc_collect_add_button_panel">
                    <input id="msc_collect_add_confirm" type="submit" value="确认" class="form_button">
                </div>
                <input id="msc_collect_add_cancel" type="button" value="取消" class="form_button">
            </div>
        </form>
    </div>
</div>