<div class="music_box_container side_bar_expand padding_trans" id="music_box_container">
    {% include 'common/comp_navigation_bar.html' %}
    <div class="music_main_container">
        <div class="music_collect_menu" id="music_collect_menu">
            <button class="music_menu_button clickable" id="add_collect_button">新增合集</button>
            <button class="music_menu_button clickable" id="add_music_button">新增歌曲</button>
            <dd class="music_menu_dd">
                <dl class="music_menu_dl" id="music_menu_dl">
                    <div class="music_menu_label">合集</div>
                </dl>
            </dd>
        </div>
        <div class="music_content_panel">
            <div class="music_control_panel">
                <div class="music_control_icon_div clickable">
                    <img src="/static/icons/dashboard.png" class="music_control_img" id="music_menu_pop_button">
                </div>
                <div class="music_control_title">
                    <div class="music_control_info_icon">
                        <img src="/static/icons/music.png">
                    </div>
                    <div class="music_control_title_text" id="music_control_title_text"></div>
                    <div class="music_control_info_icon" id="edit_music_set_button">
                        <img src="/static/icons/edit.png">
                    </div>
                    <div class="music_control_info_icon" id="delete_music_set_button">
                        <img src="/static/icons/delete.png">
                    </div>
                </div>
                <form class="music_search_bar">
                    <div class="music_control_info_icon">
                        <img src="/static/icons/magnifier.png">
                    </div>
                    <input placeholder="输入文本搜索" class="music_search_input" id="music_search_input">
                </form>
            </div>
            <div class="music_content_main_panel">
                <div class="music_content_header">
                    <div class="music_content_header_text">歌曲</div>
                    <div class="music_content_header_text">歌手</div>
                    <div class="music_content_header_text">专辑</div>
                    <div class="music_content_header_text">标签</div>
                    <div class="music_content_header_text">操作</div>
                </div>
                <dd class="music_content_table">
                    <dl class="music_content_row" id="music_content_row"></dl>
                </dd>
            </div>
        </div>
    </div>
    <div class="music_play_bar">
        <div class="music_play_bar_content">
            <div class="music_play_image_div">
                <img src="/static/icons/music.png" class="music_play_image">
            </div>
            <div class="music_play_info">
                <div class="music_play_name" id="music_bar_play_name">未知</div>
                <div class="music_play_singer" id="music_bar_play_singer">未知</div>
            </div>
            <div class="music_play_image_div clickable">
                <img src="/static/icons/order_play.png" class="music_play_image" id="music_bar_order_button">
            </div>
            <div class="music_play_image_div clickable">
                <img src="/static/icons/fast_rewind_trans.png" class="music_play_image" id="music_bar_rewind_button">
            </div>
            <div class="music_play_image_div clickable">
                <img src="/static/icons/next_page_trans.png" class="music_play_image" id="music_bar_play_button">
            </div>
            <div class="music_play_image_div clickable">
                <img src="/static/icons/fast_forward_trans.png" class="music_play_image" id="music_bar_forward_button">
            </div>
            <div class="music_play_image_div clickable">
                <img src="/static/icons/add_collection.png" class="music_play_image" id="music_add_set_button">
            </div>
            <div class="music_play_progress_bar">
                <div class="music_play_progress_text" id="music_bar_start_text">00:00</div>
                <input type="range" min="0" max="100" step="1" value="0" class="music_play_progress" id="music_bar_play_progress">
                <div class="music_play_progress_text" id="music_bar_end_text">00:00</div>
            </div>
            <div class="music_play_volume_bar">
                <div class="music_play_image_div clickable">
                    <img src="/static/icons/volume_trans.png" class="music_play_image">
                </div>
                <input type="range" min="0" max="100" step="1" value="50" class="music_play_progress" id="music_bar_volume">
            </div>
        </div>
    </div>
</div>