<div class="file_sys_container">
    <div class="file_sys_header">
        <a class="file_sys_header_title">文件管理器</a>
        <div class="file_sys_header_icon">
            <img src="/sources?filename=icons/notification.png">
        </div>
        <div class="file_sys_header_icon">
            <img src="/sources?filename=icons/setting.png">
        </div>
        <div class="file_sys_header_icon">
            <img src="/sources?filename=icons/user.png">
        </div>
    </div>
    <div class="file_sys_body">
        <div class="file_sys_menu">
            <button class="file_sys_menu_button">+下载</button>
            <div class="file_sys_menu_label">
                <span>菜单</span>
            </div>
            <div class="file_sys_menu_item">
                <div class="file_sys_menu_icon">
                    <img src="/sources?filename=icons/all_file.png">
                </div>
                <a class="file_sys_menu_text">所有文件</a>
            </div>
        </div>
        <div class="file_sys_panel">
            <div class="file_sys_search_bar">
                <div class="file_path_bar"></div>
                <div class="file_search_bar">
                    <img src="/sources?filename=icons/magnifier.png" class="file_search_icon">
                    <input placeholder="输入文本搜索" class="file_search_input">
                </div>
            </div>
            <div class="file_sys_list_body">
                <div class="file_list_title hidden">
                    <span>最近使用的文件</span>
                </div>
                <div class="file_table_header">
                    <a class="file_table_header_text">文件名</a>
                    <a class="file_table_header_text">修改日期</a>
                    <a class="file_table_header_text">类型</a>
                    <a class="file_table_header_text">大小</a>
                </div>
                <div class="file_table_body">
                    <div class="file_table_item"></div>
                </div>
                <div class="file_page_bar">
                    <div class="file_page_info"></div>
                    <div class="file_page_icon"></div>
                    <div class="file_page_num"></div>
                    <div class="file_page_icon"></div>
                </div>
            </div>
        </div>
    </div>
</div>