<div class="file_sys_container" id="file_sys_container">
    <div class="file_sys_header">
        <div class="file_sys_side_button" id="file_sys_side_button">
            <img class="file_sys_side_icon" src="sources?filename=icons/menu.png">
        </div>
        <div class="file_sys_header_title">文件管理器</div>
        <div class="file_sys_header_icon">
            <img src="/sources?filename=icons/notification.png">
        </div>
        <div class="file_sys_header_icon">
            <img src="/sources?filename=icons/setting.png">
        </div>
        <div class="file_sys_header_icon">
            <img src="/sources?filename=icons/user.png">
        </div>
    </div>
    <div class="file_sys_body">
        <div class="file_sys_menu">
            <button class="file_sys_menu_button clickable">+上传</button>
            <div class="file_sys_menu_label">
                <span>菜单</span>
            </div>
            <div class="file_sys_menu_item">
                <div class="file_sys_menu_icon">
                    <img src="/sources?filename=icons/all_file.png">
                </div>
                <a class="file_sys_menu_text clickable">所有文件</a>
            </div>
        </div>
        <div class="file_sys_panel">
            <div class="file_sys_search_bar">
                <div class="file_path_bar"></div>
                <div class="file_search_bar">
                    <img src="/sources?filename=icons/magnifier.png" class="file_search_icon">
                    <input placeholder="输入文本搜索" class="file_search_input">
                </div>
            </div>
            <div class="file_sys_list_body">
                <div class="file_list_title hidden">
                    <span>最近使用的文件</span>
                </div>
                <div class="file_table_header">
                    <div class="file_table_header_text">文件名</div>
                    <div class="file_table_header_text">修改日期</div>
                    <div class="file_table_header_text">类型</div>
                    <div class="file_table_header_text">大小</div>
                    <div class="file_table_header_text">操作</div>
                </div>
                <div class="file_table_body" id="file_table_body">
                </div>
                <div class="file_page_bar">
                    <div class="file_page_info"></div>
                    <div class="file_page_icon"></div>
                    <div class="file_page_num"></div>
                    <div class="file_page_icon"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="file_add_container">
    <div class="file_add_content">
    </div>
</div>