<div class="file_sys_container side_bar_expand padding_trans" id="file_sys_container">
    <div class="file_sys_header" id="file_sys_header">
        <div class="file_sys_header_icon clickable" id="file_sys_side_button">
            <img src="sources?filename=icons/menu.png">
        </div>
        <div class="file_sys_header_title">文件仓库</div>
        <div class="file_sys_header_icon clickable">
            <img src="/sources?filename=icons/notification.png">
        </div>
        <div class="file_sys_header_icon clickable">
            <img src="/sources?filename=icons/setting.png">
        </div>
        <div class="file_sys_header_icon clickable">
            <img src="/sources?filename=icons/user.png">
        </div>
    </div>
    <div class="file_sys_body" id="file_sys_body">
        <div class="file_sys_menu" id="file_sys_menu">
            <button class="file_sys_menu_button clickable" id="file_add_pop_button">上传文件/创建文件夹</button>
            <dd class="file_sys_menu_list">
                <dl class="file_sys_menu_row">
                    <div class="file_sys_menu_label">
                        <span>菜单</span>
                    </div>
                    <div class="file_sys_menu_item clickable" id="all_file_button">
                        <div class="file_sys_menu_icon">
                            <img src="/sources?filename=icons/all_file.png">
                        </div>
                        <a class="file_sys_menu_text clickable">所有文件</a>
                    </div>
                    <div class="file_sys_menu_label">
                        <span>操作</span>
                    </div>
                    <div class="file_sys_menu_item clickable spin_holder" id="add_text_button">
                        <div class="file_sys_menu_icon">
                            <img src="/sources?filename=icons/text.png">
                        </div>
                        <a class="file_sys_menu_text clickable">创建文本</a>
                    </div>
                </dl>
            </dd>
        </div>
        <div class="file_sys_panel">
            <div class="file_sys_search_bar">
                <div class="file_path_bar" id="file_path_bar">
                    <img src="/sources?filename=icons/open_folder.png" class="file_search_icon">
                </div>
                <img class="file_control_img only999" src="/sources?filename=icons/dashboard.png" id="file_menu_pop_button">
                <form class="file_search_bar">
                    <img src="/sources?filename=icons/magnifier.png" class="file_search_icon">
                    <input placeholder="输入文本搜索" class="file_search_input" id="file_search_input">
                </form>
            </div>
            <div class="file_sys_list_body">
                <div class="file_table_header">
                    <div class="file_table_header_text">文件名</div>
                    <div class="file_table_header_text">修改日期</div>
                    <div class="file_table_header_text">类型</div>
                    <div class="file_table_header_text">大小</div>
                    <div class="file_table_header_text">操作</div>
                </div>
                <dd class="file_table_body spin_holder" id="file_table_spinner">
                    <dl class="file_table_row" id="file_table_body">
                    </dl>
                </dd>
                <div class="file_page_bar">
                    {% include 'common/comp_page_selector.html'%}
                </div>
            </div>
        </div>
    </div>
</div>