.music_box_container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 110px 1fr 80px;
    box-sizing: border-box;
}
.music_main_container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 245px 1fr;
    padding-left: var(--element-gap);
    padding-right: var(--element-gap);
    padding-bottom: var(--element-gap);
    box-sizing: border-box;
    grid-gap: var(--element-gap);
}
.music_play_bar{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding-left: var(--element-gap);
    padding-right: var(--element-gap);
    background-color: var(--theme-background-color);
}
.music_play_bar_content{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 48px 1fr repeat(5, 48px) 2fr 1fr;
    grid-gap: var(--element-margin);
    align-items: center;
}
.music_play_image_div{
    width:48px;
    height: 48px;
    display: grid;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
.music_play_image{
    width: 32px;
    height: 32px;
    border: 2px solid transparent;
    background-color: transparent;
    border-radius: var(--border-min-radius);
    transition: border-color 0.5s ease, background-color 0.5s ease;
}
.music_play_image:hover{
    background-color: var(--theme-active-color);
}
.music_play_info{
    width: 100%;
    display: grid;
}
.music_play_name{
    color: var(--theme-part-color);
    font-size: var(--main-text-size);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.music_play_singer{
    color: var(--text-remark-color);
    font-size: var(--text-label-size);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.music_play_progress_bar{
    display: grid;
    grid-template-columns: 48px 1fr 48px;
    grid-gap: 10px;
}
.music_progress_container{
    height: 20px;
    border-radius: 10px;
    background-color: #FFFFFF;
    border: 2px solid #363B64;
}
.music_play_progress{
    height: 100%;
    width: 0%;
    background-color: #90CAF8;
    transition: width 0.5s ease;
    border-radius: 8px;
}
.music_play_progress_text{
    display: grid;
    align-items: center;
}
.music_play_volume_bar{
    display: grid;
    grid-template-columns: 48px 1fr;
    grid-gap: 10px;
    align-items: center;
}
.music_collect_menu{
    width: 100%;
    height: 100%;
    background-color: var(--theme-background-color);
    border-radius: var(--border-radius);
    display: grid;
    grid-template-rows: 52px 52px 1fr;
    padding: var(--element-margin);
    box-sizing: border-box;
    grid-gap: var(--element-margin);
}
.music_content_panel{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 37px 1fr;
    grid-gap: var(--element-gap);
}
.music_menu_button{
    width: 100%;
    height: 52px;
    background-color: var(--theme-part-color);
    border-radius: var(--border-radius);
    color: var(--text-active-color);
    font-size: var(--text-label-size);
    box-sizing: border-box;
    border: var(--border-base-width) solid var(--theme-part-color);
    transition: background-color 0.5s ease, color 0.5s ease;
}
.music_menu_button:hover{
    background-color: var(--theme-active-color);
    border-color: var(--theme-part-color);
    color: var(--text-main-color);
}
.music_menu_dd{
    margin-inline-start: 0;
    overflow-y: auto;
}
.music_menu_dd::-webkit-scrollbar{
    /*隐藏滚动条*/
    width: 0px;
}
.music_menu_dl{
    width: 100%;
    height: 52px;
    margin-block-start: 0;
    margin-block-end: 0;
}
.music_menu_label{
    width: 100%;
    font-size: var(--text-label-size);
    color: var(--text-remark-color);
    display: flex;
    align-items: end;
    box-sizing: border-box;
    padding-left: var(--element-margin);
    margin-bottom: var(--element-list-gap);
}
.music_menu_item{
    width: 100%;
    height: 52px;
    background-color: var(--theme-background-color);
    color: var(--text-main-color);
    border-radius: var(--border-radius);
    border: var(--border-base-width) solid var(--theme-background-color);
    transition: border-color 0.5s ease, background-color 0.5s ease;
    box-sizing: border-box;
    margin-bottom: var(--element-margin);
    display: grid;
    grid-template-columns: 32px 1fr;
    grid-gap: var(--element-margin);
    padding-left: var(--element-margin);
    padding-right: var(--element-margin);
}
.music_menu_item:hover{
    background-color: var(--theme-active-color);
    border-color: var(--theme-part-color);
}
.music_menu_item_text{
    display: grid;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.music_menu_image_div{
    width: 100%;
    display: grid;
    align-items: center;
}
.music_menu_image{
    width: 32px;
}
.music_control_panel{
    height: 37px;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: var(--element-margin);
}
.music_content_main_panel{
    height: 100%;
    width: 100%;
    background-color: var(--theme-background-color);
    border-radius: var(--border-radius);
    display: grid;
    grid-template-rows: 56px 1fr;
}
.music_control_icon_div{
    height: 37px;
    width: 37px;
    display: grid;
    align-items: center;
    justify-content: center;
}
.music_control_img{
    width: var(--icon-base-size);
    border: 2px solid transparent;
    border-radius: var(--border-min-radius);
    transition: border-color 0.5s ease;
    background-color: var(--theme-background-color);
}
.music_control_img:hover{
    border-color: var(--theme-part-color);
}
.music_control_icon{
    height: 32px;
    width: 32px;
    border-radius: 13px;
    border: 2px solid transparent;
    margin-left: var(--element-margin);
    margin-right: var(--element-margin);
}
.music_control_title{
    background-color: var(--theme-background-color);
    border-radius: var(--border-radius);
    padding-left: var(--element-margin);
    padding-right: var(--element-margin);
    align-items: center;
    display: grid;
    grid-template-columns: 25px 1fr 25px 25px;
    grid-gap: var(--element-margin);
}
.music_control_title>*:nth-child(1):hover{
    border: 0px;
}

.music_control_info_icon{
    display: grid;
    align-items: center;
    width: 25px;
    height: 25px;
    box-sizing: border-box;
    border-radius: 10px;
}
.music_control_info_icon:hover{
    border: 2px solid var(--theme-part-color);
}
.music_control_info_icon img{
    width: 100%;
    height: 100%;
}
.music_search_bar{
    background-color: var(--theme-background-color);
    border-radius: var(--border-radius);
    display: grid;
    grid-template-columns: 25px 1fr;
    padding-left: var(--element-margin);
    padding-right: var(--element-margin);
    box-sizing: border-box;
    align-items: center;
}
.music_search_input{
    height: 100%;
    width: 100%;
    border-width: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: var(--text-remark-size);
    background: transparent;
}
.music_search_input:focus-visible{
    outline: none;
}
.music_content_header{
    width: 100%;
    height: 100%;
    border-bottom: var(--border-base-width) solid var(--text-remark-color);
    align-items: end;
    padding-left: var(--element-margin);
    padding-right: var(--element-margin);
    box-sizing: border-box;
    grid-gap: var(--element-margin);
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr 50px;
}
.music_content_header_text{
    min-width: 50px;
    color: var(--text-main-color);
    font-size: var(--main-text-size);
    padding-bottom: calc(var(--element-margin) / 2);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.music_content_header>*:last-child{
    display: grid;
    justify-content: center;
}
.music_content_table{
    width: 100%;
    height: 100%;
    overflow-y: auto;
    margin-inline-start: 0;
}
.music_content_table::-webkit-scrollbar{
    /*侧边栏列表栏，隐藏滚动条*/
    width: 0px;
}
.music_content_row{
    width: 100%;
    height: 56px;
    margin-block-start: 0;
    margin-block-end: 0;
}
.music_item_name_icon{
    width: 32px;
    height: 32px;
}
.music_item_control_img{
    width: var(--icon-base-size);
    border: 2px solid transparent;
    border-radius: var(--border-min-radius);
    transition: border-color .5s ease;
}
.music_item_control_img:hover{
    border-color: var(--theme-part-color);
}
.music_content{
    width: 100%;
    height: 56px;
    border-bottom: 1px dotted var(--text-remark-color);
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr 50px;
    grid-gap: var(--element-margin);
    padding-left: var(--element-margin);
    padding-right: var(--element-margin);
    box-sizing: border-box;
    align-items: center;
    background-color: transparent;
    transition: background-color 0.5s ease;
}
.music_content:hover{
    background-color: var(--theme-active-color);
}
.music_content>*:last-child{
    display: flex;
    align-items: center;
    justify-content: center;
}
.music_item_name_div{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: var(--icon-base-size) 1fr;
    grid-gap: var(--element-margin);
    align-items: center;
    min-width: 50px;
}
.music_item_name_text{
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: var(--main-text-size);
    color: var(--text-main-color);
}
.music_control_content{
    width: 204px;
    background-color: white;
    border: 2px solid var(--text-remark-color);
    border-radius: calc( var(--border-radius) - 2px );
    box-sizing: border-box;
    position: fixed;
    z-index: 2;
}
.music_control_item{
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border-radius: var(--border-min-radius);
    border: 2px solid var(--theme-background-color);
    background-color: var(--theme-background-color);
    transition: background-color 1s ease, border-color 1s ease;
}
.music_control_item:hover{
    background-color: var(--theme-active-color);
    border-color: var(--theme-part-color);
}
.music_control_text{
    font-size: var(--main-text-size);
    color: var(--text-main-color);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: var(--element-margin);
}
.music_item_text{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: var(--main-text-size);
    color: var(--text-main-color);
}
.music_item_tags_div{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: var(--main-text-size);
    color: var(--text-main-color);
}
.music_control_title_text{
    color: var(--theme-part-color);
    font-size: var(--main-text-size);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 999px), (max-device-width: 999px){
    .music_play_volume_bar{
        display: grid;
        grid-template-columns: 1fr;
    }
    .music_play_volume_bar>*:last-child{
        display: none;
    }
    .music_play_bar_content{
        display: grid;
        grid-template-columns: 48px 1fr repeat(5,48px) 2fr 48px;
    }
    .music_main_container{
        padding-left: var(--element-margin);
        padding-right: var(--element-margin);
        padding-bottom: var(--element-margin);
    }
    .music_content_panel{
        grid-gap: var(--element-margin);
    }
    .music_play_bar{
        padding-left: var(--element-margin);
        padding-right: var(--element-margin);
    }
    .music_box_container{
        grid-template-rows: calc(110px * .75) 1fr 80px;
    }
}

@media (min-width: 951px), (min-device-width: 951px){
    .music_control_panel>*:nth-child(1){
        display: none;
    }
}

@media (max-width: 950px), (max-device-width: 950px){
    .music_collect_menu{
        display: none;
        position: fixed;
        width: 257px;
        height: calc( 100% - var(--element-margin) * 2 - 70px );
        border: 2px solid var(--theme-part-color);
        z-index: 1;
        background-color: white;
    }
    .music_main_container{
        display: grid;
        grid-template-columns: 1fr;
    }
    .music_control_panel{
        grid-template-columns: 37px 2fr 1fr;
    }
    .music_control_panel>*:nth-child(1){
        display: block;
    }
}

@media (max-width: 850px), (max-device-width: 850px){
    .music_play_progress_bar{
        display: none;
    }
    .music_play_volume_bar>*:last-child{
        display: block;
    }
    .music_play_volume_bar{
        display: grid;
        grid-template-columns: 48px 1fr;
    }
    .music_play_bar_content{
        display: grid;
        grid-template-columns: 48px 1fr repeat(5,48px) 1fr;
    }
}

@media (max-width: 730px), (max-device-width: 730px){
    .music_play_volume_bar{
        display: none;
    }
    .music_play_bar_content{
        display: grid;
        grid-template-columns: 48px 1fr repeat(5,48px);
    }
}

@media (max-width: 680px), (max-device-width: 680px){
    .music_content>*:nth-last-child(2){
        display: none;
    }
    .music_content{
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 50px;
    }
    .music_content_header>*:nth-last-child(2){
        display: none;
    }
    .music_content_header{
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 50px;
    }
}

@media (max-width: 480px), (max-device-width: 480px){
    .music_content>*:nth-last-child(3){
        display: none;
    }
    .music_content{
        display: grid;
        grid-template-columns: 2fr 1fr 50px;
    }
    .music_content_header>*:nth-last-child(3){
        display: none;
    }
    .music_content_header{
        display: grid;
        grid-template-columns: 2fr 1fr 50px;
    }
    .music_play_bar_content{
        display: grid;
        grid-template-columns: repeat(5,1fr);
    }
    .music_play_bar_content>*:nth-child(1), .music_play_bar_content>*:nth-child(2){
        display: none;
    }
    .music_box_container{
        display: grid;
        grid-template-rows: 110px 1fr 64px;
    }
    .music_play_image{
        width: 36px;
        height: 36px;
    }
    .music_play_bar{

    }
}

