{% extends 'common/page_web_base.html' %}

{% block css_file %}
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='js/videojs/video-js.min.css')}}"/>
    {% assets "file_system_css" %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"/>
    {% endassets %}
{% endblock %}

{% block body_content %}
    {% include 'common/comp_side_bar.html' %}
    {% include 'file_system/page_file_system.html' %}
    {% include 'common/comp_popup_message.html' %}
    {% include 'common/comp_popup_confirm.html' %}
    {% include 'common/comp_popup_image.html' %}
    {% include 'common/comp_popup_video.html' %}
    {% include 'file_system/comp_popup_file_add.html'%}
    {% include 'file_system/comp_popup_file_control.html'%}
    {% include 'file_system/comp_popup_file_edit.html' %}
    {% include 'file_system/comp_popup_text_display.html' %}
    {% include 'file_system/comp_popup_text_add.html' %}
{% endblock %}

{% block js_file %}
    {% assets "file_system_js" %}
        <script type="module" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    <script src="{{url_for('static', filename='js/tinymce/tinymce.min.js')}}" referrerpolicy="origin"
        defer></script>
    <script src="{{url_for('static', filename='js/videojs/video.min.js')}}" referrerpolicy="origin"
        defer></script>
{% endblock %}