{% extends 'common/page_web_base.html' %}

{% block css_file %}
    {% assets "file_system_css" %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"/>
    {% endassets %}
{% endblock %}

{% block body_class %}body_theme{% endblock %}

{% block body_content %}
    {% include 'common/comp_side_bar.html' %}
    {% include 'common/page_file_system.html' %}
    {% include 'common/comp_popup_message.html' %}
{% endblock %}

{% block js_file %}
    {% assets "file_system_js" %}
        <script type="module" src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock %}