{% extends 'common/page_web_base.html' %}

{% block css_file %}
    {% assets "music_box_css" %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"/>
    {% endassets %}
{% endblock %}

{% block body_content %}
    {% include 'music_box/page_music_box.html' %}
    {% include 'music_box/comp_popup_collect_add.html' %}
    {% include 'music_box/comp_popup_music_add.html' %}
    {% include 'common/comp_side_bar.html' %}
{% endblock %}

{% block js_file %}
    <script type="module" src="{{url_for('static', filename='js/howler/howler.min.js')}}" referrerpolicy="origin">
    </script>
    {% assets "music_box_js" %}
        <script type="module" src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock %}