.navigation_header{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: var(--header-icon-size) 1fr repeat(3, var(--header-icon-size));
    align-items: center;
    justify-content: center;
    padding: var(--element-gap);
    box-sizing: border-box;
    grid-gap: var(--element-margin);
}
.navigation_header_title{
    width:100%;
    font-size: var(--text-header-size);
    font-weight: bold;
    color: var(--text-active-color);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.navigation_icon{
    height: var(--header-icon-size);
    width: var(--header-icon-size);
    border-radius: var(--border-radius);
    background-color: var(--theme-background-color);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--text-remark-color);
    transition: background-color 1s ease, border-color 1s ease;
}
.navigation_icon:hover{
    background-color: var(--theme-active-color);
    border-color: var(--theme-part-color);
}
.navigation_icon>img{
    height: 100%;
    width: 100%;
}
.navigation_icon>img:hover{
    mix-blend-mode: multiply;
}
.navigation_user_content{
    width: 204px;
    background-color: white;
    border: 2px solid var(--text-remark-color);
    border-radius: calc( var(--border-radius) - 2px );
    box-sizing: border-box;
    position: fixed;
    z-index: 2;
}
.navigation_control_item{
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border-radius: var(--border-min-radius);
    border: 2px solid var(--theme-background-color);
    background-color: var(--theme-background-color);
    transition: background-color 1s ease, border-color 1s ease;
}
.navigation_control_item:hover{
    background-color: var(--theme-active-color);
    border-color: var(--theme-part-color);
}
.navigation_control_icon{
    width: var(--icon-base-size);
    height: var(--icon-base-size);
    margin-left: var(--element-margin);
    margin-right: var(--element-margin);
}
.navigation_control_text{
    font-size: var(--main-text-size);
    color: var(--text-main-color);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: var(--element-margin);
}


/*响应式*/
@media (max-width: 999px), (max-device-width: 999px){
    .navigation_header{
        padding: var(--element-margin);
        padding-top: 0px;
        padding-bottom: 0px;
    }
}

@media (max-width: 460px), (max-device-width: 460px){
    .navigation_header{
        grid-template-columns: var(--header-icon-size) 1fr var(--header-icon-size);
    }
    .navigation_header>*:nth-child(3),.navigation_header>*:nth-child(4){
        display: none;
    }
}